body{
    background-color: azure;

}
.purple-line{
    padding: 5px;
    border-radius: 5px;
    border-style: solid 2px black;
    background-color: rebeccapurple;

}
.rotate-box{
    border: solid 1px black;
    width: 30px;
    height: 30px;
    background-color: blue;

}